@font-face {
    font-family: 'Max Expert';
    src: url('#{$max-font-path}/max-black-italic-caps-expert/max-black-italic-caps-expert.eot');
    src: local('Max Black Expert'),
         local('Max-Black-Expert'),
         url('#{$max-font-path}/max-black-italic-caps-expert/max-black-italic-caps-expert.eot?#iefix') format('embedded-opentype'),
         url('#{$max-font-path}/max-black-italic-caps-expert/max-black-italic-caps-expert.woff2') format('woff2'),
         url('#{$max-font-path}/max-black-italic-caps-expert/max-black-italic-caps-expert.woff') format('woff'),
         url('#{$max-font-path}/max-black-italic-caps-expert/max-black-italic-caps-expert.ttf') format('truetype'),
         url('#{$max-font-path}/max-black-italic-caps-expert/max-black-italic-caps-expert.svg#max-blackitalicscexpertRg') format('svg');
    font-weight: 900;
    font-style: italic;
    text-transform: capitalize;
}