@font-face {
    font-family: 'Max';
    src: url('#{$max-font-path}/max-regular-normal-caps-common/max-regular-normal-caps-common.eot');
    src: local('Max Regular'),
         local('Max-Regular'),
         url('#{$max-font-path}/max-regular-normal-caps-common/max-regular-normal-caps-common.eot?#iefix') format('embedded-opentype'),
         url('#{$max-font-path}/max-regular-normal-caps-common/max-regular-normal-caps-common.woff2') format('woff2'),
         url('#{$max-font-path}/max-regular-normal-caps-common/max-regular-normal-caps-common.woff') format('woff'),
         url('#{$max-font-path}/max-regular-normal-caps-common/max-regular-normal-caps-common.ttf') format('truetype'),
         url('#{$max-font-path}/max-regular-normal-caps-common/max-regular-normal-caps-common.svg#max-regularscregular') format('svg');
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
}