@font-face {
    font-family: 'Max Expert';
    src: url('#{$max-font-path}/max-book-normal-caps-expert/max-book-normal-caps-expert.eot');
    src: local('Max Book Expert'),
         local('Max-Book-Expert'),
         url('#{$max-font-path}/max-book-normal-caps-expert/max-book-normal-caps-expert.eot?#iefix') format('embedded-opentype'),
         url('#{$max-font-path}/max-book-normal-caps-expert/max-book-normal-caps-expert.woff2') format('woff2'),
         url('#{$max-font-path}/max-book-normal-caps-expert/max-book-normal-caps-expert.woff') format('woff'),
         url('#{$max-font-path}/max-book-normal-caps-expert/max-book-normal-caps-expert.ttf') format('truetype'),
         url('#{$max-font-path}/max-book-normal-caps-expert/max-book-normal-caps-expert.svg#max-bookscexpertregular') format('svg');
    font-weight: 300;
    font-style: normal;
    text-transform: capitalize;
}