@font-face {
    font-family: 'Max Expert';
    src: url('#{$max-font-path}/max-regular-normal-none-expert/max-regular-normal-none-expert.eot');
    src: local('Max Regular Expert'),
         local('Max-Regular-Expert'),
         url('#{$max-font-path}/max-regular-normal-none-expert/max-regular-normal-none-expert.eot?#iefix') format('embedded-opentype'),
         url('#{$max-font-path}/max-regular-normal-none-expert/max-regular-normal-none-expert.woff2') format('woff2'),
         url('#{$max-font-path}/max-regular-normal-none-expert/max-regular-normal-none-expert.woff') format('woff'),
         url('#{$max-font-path}/max-regular-normal-none-expert/max-regular-normal-none-expert.ttf') format('truetype'),
         url('#{$max-font-path}/max-regular-normal-none-expert/max-regular-normal-none-expert.svg#max-regularexpertregular') format('svg');
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}