@font-face {
    font-family: 'Max Expert';
    src: url('#{$max-font-path}/max-light-italic-none-expert/max-light-italic-none-expert.eot');
    src: local('Max Light Expert'),
         local('Max-Light-Expert'),
         url('#{$max-font-path}/max-light-italic-none-expert/max-light-italic-none-expert.eot?#iefix') format('embedded-opentype'),
         url('#{$max-font-path}/max-light-italic-none-expert/max-light-italic-none-expert.woff2') format('woff2'),
         url('#{$max-font-path}/max-light-italic-none-expert/max-light-italic-none-expert.woff') format('woff'),
         url('#{$max-font-path}/max-light-italic-none-expert/max-light-italic-none-expert.ttf') format('truetype'),
         url('#{$max-font-path}/max-light-italic-none-expert/max-light-italic-none-expert.svg#max-lightitalicexpertregular') format('svg');
    font-weight: 200;
    font-style: italic;
    text-transform: none;
}