@font-face {
    font-family: 'Max';
    src: url('#{$max-font-path}/max-regular-italic-none-common/max-regular-italic-none-common.eot');
    src: local('Max Regular'),
         local('Max-Regular'),
         url('#{$max-font-path}/max-regular-italic-none-common/max-regular-italic-none-common.eot?#iefix') format('embedded-opentype'),
         url('#{$max-font-path}/max-regular-italic-none-common/max-regular-italic-none-common.woff2') format('woff2'),
         url('#{$max-font-path}/max-regular-italic-none-common/max-regular-italic-none-common.woff') format('woff'),
         url('#{$max-font-path}/max-regular-italic-none-common/max-regular-italic-none-common.ttf') format('truetype'),
         url('#{$max-font-path}/max-regular-italic-none-common/max-regular-italic-none-common.svg#max-regularitalicregular') format('svg');
    font-weight: 400;
    font-style: italic;
    text-transform: none;
}