@font-face {
    font-family: 'Max';
    src: url('#{$max-font-path}/max-bold-italic-caps-common/max-bold-italic-caps-common.eot');
    src: local('Max Bold'),
         local('Max-Bold'),
         url('#{$max-font-path}/max-bold-italic-caps-common/max-bold-italic-caps-common.eot?#iefix') format('embedded-opentype'),
         url('#{$max-font-path}/max-bold-italic-caps-common/max-bold-italic-caps-common.woff2') format('woff2'),
         url('#{$max-font-path}/max-bold-italic-caps-common/max-bold-italic-caps-common.woff') format('woff'),
         url('#{$max-font-path}/max-bold-italic-caps-common/max-bold-italic-caps-common.ttf') format('truetype'),
         url('#{$max-font-path}/max-bold-italic-caps-common/max-bold-italic-caps-common.svg#max-bolditalicscregular') format('svg');
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
}