@font-face {
    font-family: 'Max Expert';
    src: url('#{$max-font-path}/max-extrabold-italic-none-expert/max-extrabold-italic-none-expert.eot');
    src: local('Max Extrabold Expert'),
         local('Max-Extrabold-Expert'),
         url('#{$max-font-path}/max-extrabold-italic-none-expert/max-extrabold-italic-none-expert.eot?#iefix') format('embedded-opentype'),
         url('#{$max-font-path}/max-extrabold-italic-none-expert/max-extrabold-italic-none-expert.woff2') format('woff2'),
         url('#{$max-font-path}/max-extrabold-italic-none-expert/max-extrabold-italic-none-expert.woff') format('woff'),
         url('#{$max-font-path}/max-extrabold-italic-none-expert/max-extrabold-italic-none-expert.ttf') format('truetype'),
         url('#{$max-font-path}/max-extrabold-italic-none-expert/max-extrabold-italic-none-expert.svg#max-extrabolditalicexpertRg') format('svg');
    font-weight: 800;
    font-style: italic;
    text-transform: none;
}