@font-face {
    font-family: 'Max';
    src: url('#{$max-font-path}/max-semibold-normal-none-common/max-semibold-normal-none-common.eot');
    src: local('Max Semibold'),
         local('Max-Semibold'),
         url('#{$max-font-path}/max-semibold-normal-none-common/max-semibold-normal-none-common.eot?#iefix') format('embedded-opentype'),
         url('#{$max-font-path}/max-semibold-normal-none-common/max-semibold-normal-none-common.woff2') format('woff2'),
         url('#{$max-font-path}/max-semibold-normal-none-common/max-semibold-normal-none-common.woff') format('woff'),
         url('#{$max-font-path}/max-semibold-normal-none-common/max-semibold-normal-none-common.ttf') format('truetype'),
         url('#{$max-font-path}/max-semibold-normal-none-common/max-semibold-normal-none-common.svg#max-semiboldregular') format('svg');
    font-weight: 600;
    font-style: normal;
    text-transform: none;
}